.uploadBtnWrapper {
       width: 210px;
       padding: 5px;
       border:1px solid black;
       border-radius: 5px;
}

.inputForUploadIcon {
       display: none;
}

.labelUpload {
       display: flex;
       align-items: center;
       justify-content: space-between;
       cursor: pointer;
}

.clipBtnText {
       font-size: 18px;
       font-weight: 600;
       color: black;
       padding: 5px;
}