.filtersWrapper {
       width: 350px;
       border: 2px solid black;
       border-radius: 5px;
       margin-top: 10px;
       padding: 10px;
}

.title {
       font-size: 18px;
       font-weight: 600;
       color: black;
       margin-bottom: 5px;
}

.dropdawn {
       padding: 8px;
       font-size: 14px;
       border: none;
       background-color: black;
       color: #ffffff;
       -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       border-radius: 5px;
       width: 250px;
       margin-bottom: 10px;
}

.dropdawn:focus {
       outline: none;
}